<% contentFor('body') %>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <% if(groups !== null && groups.length > 0){ %>
                            <select class="form-control" name="group" id="group">
                                <option value="">Groups</option>
                                <% for(let i = 0; i < groups.length; i++) { %>
                                    <option value="<%= groups[i].id %>;<%= groups[i].name %>"><%= groups[i].name %></option>
                                <% } %>
                            </select>
                        <% } %>
                    </div>
                    <div class="col-md-6">
                        <% if(calcs !== null && calcs.length > 0){ %>
                            <select class="form-control" name="calc" id="calc">
                                <option value="">Calculators</option>
                                <% for(let i = 0; i < calcs.length; i++) { %>
                                    <option value="<%= calcs[i].id %>;<%= calcs[i].meta_data.url %>;<%= calcs[i].calcPid %>"><%= calcs[i].meta_data.url %></option>
                                <% } %>
                            </select>
                        <% } %>
                    </div>
                </div>
                <input type="button" value="Map" class="btn btn-success" id="btnMapGC">
            </form>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th>Malerlite Group Id </th>
                            <th>Malerlite Group Name </th>
                            <th>calculater id</th>
                            <th>calculater Parent id</th>
                            <th>calculater url</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(linkdata !== null && linkdata.length > 0){ %>
                            <% for(let i = 0; i < linkdata.length; i++) { %>
                                <tr>
                                    <td><%= linkdata[i].mlgid %></td>
                                    <td><%= linkdata[i].groupname %></td>
                                    <td><%= linkdata[i].id %></td>
                                    <td><%= linkdata[i].calcPid %></td>
                                    <td><%= linkdata[i].url %></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>